@page "/MonHocDelete/{MaMH}"
@using Assignment_True.Shared.Models
@using Assignment_True.Client.Services
@using Assignment_True.Client.Interfaces
@inject IMonHocService _monHocService
@inject NavigationManager Navigation

<h3>Xoá @_monHoc.MaMonHoc</h3>

<EditForm Model="_monHoc" OnValidSubmit="submitTask">
    <h4>Phần tử này sẽ bị xoá đi:</h4>
    <div class="mb-3">
        <label class="form-label" for="">Mã môn học: @_monHoc.MaMonHoc</label>

    </div>
    <div class="mb-3">
        <label class="form-label" for="">Tên môn học: @_monHoc.TenMonHoc</label>
    </div>

    <button type="submit" class="btn btn-danger">Đồng ý</button>
    <a href="/MonHocIndex/" class="btn btn-primary">Từ chối</a>
</EditForm>

@code {
    [Parameter] 
    public string MaMH{ get; set; }
    MonHoc _monHoc = new MonHoc();
    protected override async Task OnInitializedAsync()
    {
        var info = await _monHocService.GetById(MaMH);
        _monHoc.MaMonHoc = info.MaMonHoc;
        _monHoc.MaMonHoc = info.TenMonHoc;
    }
    private async Task submitTask(EditContext context)
    {
        var result = await _monHocService.Delete(MaMH);
        if (result)
        {
            Navigation.NavigateTo("/MonHocIndex");
        }

    }
}
