<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Assignment_True</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TruongIndex">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Trường
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MonHocIndex">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Môn Học
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LopIndex">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lớp
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="NganhIndex">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Ngành
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SinhVienIndex">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sinh Viên
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
