@page "/truongDelete/{MaTruong}"
@using Assignment_True.Client.Interfaces
@using Assignment_True.Client.Services
@using Assignment_True.Shared.Models
@inject ITruongService _truongApi
@inject NavigationManager Navigation

<h3>Xoá @_truong.MaTruong</h3>

<EditForm Model="_truong" OnValidSubmit="submitTask">
    <h4>Phần tử này sẽ bị xoá đi:</h4>
    <div class="mb-3">
        <label class="form-label" for="">Mã trường: @_truong.MaTruong</label>

    </div>
    <div class="mb-3">
        <label class="form-label" for="">Tên trường: @_truong.TenTruong</label>
    </div>

    <button type="submit" class="btn btn-danger">Đồng ý</button>
    <a href="/TruongIndex/" class="btn btn-primary">Từ chối</a>
</EditForm>

@code {
    [Parameter] 
    public string MaTruong { get; set; }
    Truong _truong = new Truong();
    protected override async Task OnInitializedAsync()
    {
        var info = await _truongApi.GetById(MaTruong);
        _truong.MaTruong = info.MaTruong;
        _truong.TenTruong = info.TenTruong;
    }
    private async Task submitTask(EditContext context)
    {
        var result = await _truongApi.Delete(MaTruong);
        if (result)
        {
            Navigation.NavigateTo("/TruongIndex");
        }

    }
}
