@page "/LopCreate"
@using Assignment_True.Shared.Models
@using Assignment_True.Client.Services
@using Assignment_True.Client.Interfaces
@inject NavigationManager Navigation

<h3>Tạo mới</h3>

<EditForm Model="_lop" OnValidSubmit="submitTask">
    <div class="mb-3">
        <label class="form-label" for="">Mã lớp</label>
        <InputText class="form-control" @bind-Value="_lop.MaLop" placeholder="Nhập mã lớp"></InputText>
    </div>
    <div class="mb-3">
        <label class="form-label" for="">Tên lớp</label>
        <InputText class="form-control" @bind-Value="_lop.TenLop" placeholder="Nhập tên lớp"></InputText>
    </div>
    <div class="mb-3">
        <label class="form-label" for="">Môn học</label>
        <InputSelect  class="form-control" type="button" @bind-Value="_lop.MaMonHoc">
            <option value="">Chọn môn học</option>
           @if (_monHocs is not null)
           {
               @foreach (var item in _monHocs)
               {
                   <option value="@item.MaMonHoc">@item.TenMonHoc</option>
               }
           }
        </InputSelect>
    </div>
    <div class="mb-3">
        <label class="form-label" for="">Trường</label>
        <InputSelect  class="form-control" type="button" @bind-Value="_lop.MaTruong">
            <option value="null">Chọn môn học</option>
           @if (_truongs is not null)
           {
               @foreach (var item in _truongs)
               {
                   <option value="@item.MaTruong">@item.TenTruong</option>
               }
           }
        </InputSelect>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {

    private Lop _lop = new Lop();
    public List<MonHoc> _monHocs;
    public List<Truong> _truongs;
    [Inject] private ILopService _lopService { get; set; }
    [Inject] private  IMonHocService _monHocService { get; set; }
    [Inject] private  ITruongService _truongService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _monHocs = await _monHocService.GetList();
        _truongs = await _truongService.GetList();
    }
    private async Task submitTask(EditContext context)
    {
        var result = await _lopService.Create(_lop);
        if (result)
        {
            Navigation.NavigateTo("/LopIndex");
        }

    }
}
