@page "/NganhDelete/{MaNganh}"
@using Assignment_True.Client.Interfaces
@using Assignment_True.Client.Services
@using Assignment_True.Shared.Models
@inject HttpClient Http
@inject INganhService _NganhService
@inject NavigationManager Navigation

<h3>Xoá @_nganh.MaNganh</h3>

<EditForm Model="_nganh" OnValidSubmit="submitTask">
    <h4>Phần tử này sẽ bị xoá đi:</h4>
    <div class="mb-3">
        <label class="form-label" for="">Mã ngành: @_nganh.MaNganh</label>

    </div>
    <div class="mb-3">
        <label class="form-label" for="">Tên ngành: @_nganh.TenNganh</label>
    </div>

    <button type="submit" class="btn btn-danger">Đồng ý</button>
    <a href="/NganhIndex/" class="btn btn-primary">Từ chối</a>
</EditForm>

@code {
    [Parameter] 
    public string MaNganh{ get; set; } = null!;
    Nganh _nganh = new Nganh();
    protected override async Task OnInitializedAsync()
    {
        var info = await _NganhService.GetById(MaNganh);
        _nganh.MaNganh = info.MaNganh;
        _nganh.TenNganh = info.TenNganh;
    }
    private async Task submitTask(EditContext context)
    {
        var result = await _NganhService.Delete(MaNganh);
        if (result)
        {
            Navigation.NavigateTo("/NganhIndex");
        }

    }
}
